[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
torchaudio = "*"
torch = "*"
ipykernel = "*"
matplotlib = "*"
sklearn = "*"
pixyz = "*"
tensorboardx = "*"
tqdm = "*"

[dev-packages]
tensorboard = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
